farm-haystack
streamlit
torch
pytube
git+https://github.com/openai/whisper.git
https://github.com/abetlen/llama-cpp-python/releases/download/v0.2.19/llama_cpp_python-0.2.19-cp311-cp311-win_amd64.whl
cached_property