torch==2.2.2
qdrant-client==1.12.1
llama-index-vector-stores-qdrant==0.4.0
llama-index-embeddings-fastembed==0.3.0
llama-index-llms-ollama==0.4.1
tree-sitter==0.21.3
tree_sitter_languages==1.10.2
llama-index==0.12.2
scikit-learn==1.6.0
matplotlib==3.9.3
