pypdf==4.3.1
langchain-community==0.2.16
langchain-huggingface==0.0.3
torch==2.4.1
accelerate==0.34.2
bitsandbytes==0.43.3
ctransformers==0.2.27
sentence_transformers==3.1.0
faiss_cpu==1.8.0
chainlit==1.1.404
huggingface_hub==0.24.7